<a href="https://colab.research.google.com/github/Ahantejaswi/Ahantejaswi/blob/main/Copy_of_l01c01_introduction_to_colab_and_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### Copyright 2018 The TensorFlow Authors.

In [ ]:
#@title Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

## **Introduction to Colab and Python**

<table class="tfo-notebook-buttons" align="left">
  <td>
    <a target="_blank" href="https://colab.research.google.com/github/tensorflow/examples/blob/master/courses/udacity_intro_to_tensorflow_for_deep_learning/l01c01_introduction_to_colab_and_python.ipynb"><img src="https://www.tensorflow.org/images/colab_logo_32px.png" />Run in Google Colab</a>
  </td>
  <td>
    <a target="_blank" href="https://github.com/tensorflow/examples/blob/master/courses/udacity_intro_to_tensorflow_for_deep_learning/l01c01_introduction_to_colab_and_python.ipynb"><img src="https://www.tensorflow.org/images/GitHub-Mark-32px.png" />View source on GitHub</a>
  </td>
</table>

Welcome to this Colab where you will get a quick introduction to the Python programming language and the environment used for the course's exercises: Colab.

Colab is a Python development environment that runs in the browser using Google Cloud.

For example, to print "Hello World", just hover the mouse over [ ] and press the play button to the upper left. Or press shift-enter to execute.

In [ ]:
print("Hello World")

Hello World

In [ ]:
var1 = "python"
def func1():
  var1 = "PHP"
  print("In side fuc1() var1 =", var1)

def func2():
   print("func2() var2 =" , var1) 

func1()
func2()

In side fuc1() var1 = PHP
func2() var2 = python

In [ ]:
x = 3

a= str(x)
print(a,type(a))
y = float(x)
print(y,type(y))

3 <class 'str'>
3.0 <class 'float'>

In [ ]:
x,y,z = "orange" , 'vdasv' ," dsfs"
print(x)
print(y)
print(z)

orange
vdasv
 dsfs

In [ ]:
fruits = ["apple","banana","mango"]
x,y,z = fruits
print(x)
print(y)
print(z)

apple
banana
mango

In [ ]:
z=complex(65465,-46846)
print(z)

(65465-46846j)

In [ ]:
import random
print('Random number from 0-100 : ')
print(random.randrange(100))

print(random.randrange(10,20))

print(random.randrange(10,14,12))

Random number from 0-100 :
7
11
10

In [ ]:
for x in "banana":
  if(x=="n"):   
   break
   
  print(x)

b
a

In [ ]:
list = [34,"ahan",True]
print(list,len(list))

[34, 'ahan', True] 3

In [ ]:
for a in range(1,11):
    print(a)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i < 11:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [2]:
puctuations = '''?(),+*-/-_@#$%^&*"'''

my_str = input("Enter a string")

no_punct = ""
for x in my_str:
  if x not in puctuations:
    no_punct = no_punct + x

print(no_punct)

Enter a stringadjfhof%*^*&kjshfk
adjfhofkjshfk

In [12]:
string = "Ahan Tejaswi"
print(string[1:9])

han Teja

In [14]:
string = "Ahan tejaswi"

string2 = ""
for x in string:
  string2 = x + string2
print(string2)

iwsajet nahA

In [18]:
import calendar

yy = 2001
mm = 7

print(calendar.month(yy,mm))

     July 2001
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [19]:
 k = input("Enter a character")

 print(ord(k))

Enter a charactera
97

## Functions, Conditionals, and Iteration
Let's create a Python function, and call it from a loop.

In [ ]:
#factorial

In [ ]:
#sum of natural by input from user
a = 0
sum = 0 
n = int(input("enter the last number to get the sum: "))
for a in range(n+1):
    sum += a
    
print("the sum is equal to",sum)

enter the last number to get the sum: 5
the sum is equal to 15

In [ ]:
list = [5 ,4,8,9,5,465]

for x in list:
  print(x)

else:
 print("completed")

5
4
8
9
5
465
completed

In [ ]:
roll = [10,20,30]
name = ["ahan","afrwtw","erf"]

for x in roll:
  for y in name:
    print(x,y)

10 ahan
10 afrwtw
10 erf
20 ahan
20 afrwtw
20 erf
30 ahan
30 afrwtw
30 erf

In [ ]:
for x in range(0,50):
  pass
print("hii")

hii

In [ ]:
def my_function(a,b,c):
 print(a+b+c)

my_function(10,20.5,"dog")

TypeError: ignored

In [ ]:
x = lambda a : a * 6
print(x(10))

60

In [ ]:
##y = lambda b,c,d,e : b*c/e-d
##print(x(2))

12

In [ ]:
games = ["football","cricket","cricket"]
for x in games:
  print(x)
games.append("hockey")
print("new array is :-- ",games)
## to delete certain iteam for array
games.pop(1)
print("new array is :-- ",games)
games.remove("cricket")
print("new array is :-- ",games)

football
cricket
cricket
new array is :--  ['football', 'cricket', 'cricket', 'hockey']
new array is :--  ['football', 'cricket', 'hockey']
new array is :--  ['football', 'hockey']

In [ ]:
a = int(input("enter a number"))

for x in range(1,11):
 print(a * x)

enter a number2
2
4
6
8
10
12
14
16
18
20

In [ ]:
a = int(input( "Enter a number"))
for x in range(1, a +1):
  if(a%x == 0):
    print(x)

Enter a number20
1
2
4
5
10
20

In [ ]:
def HelloWorldXY(x, y):
  if (x < 10):
    print("Hello World, x was < 10")
  elif (x < 20):
    print("Hello World, x was >= 10 but < 20")
  else:
    print("Hello World, x was >= 20")
  return x + y

for i in range(8, 25, 5):  # i=8, 13, 18, 23 (start, stop, step)
  print("--- Now running with i: {}".format(i))
  r = HelloWorldXY(i,i)
  print("Result from HelloWorld: {}".format(r))

--- Now running with i: 8
Hello World, x was < 10
Result from HelloWorld: 16
--- Now running with i: 13
Hello World, x was >= 10 but < 20
Result from HelloWorld: 26
--- Now running with i: 18
Hello World, x was >= 10 but < 20
Result from HelloWorld: 36
--- Now running with i: 23
Hello World, x was >= 20
Result from HelloWorld: 46

In [ ]:
print(HelloWorldXY(1,2))

Easy, right?

If you want a loop starting at 0 to 2 (exclusive) you could do any of the following

In [ ]:
print("Iterate over the items. `range(2)` is like a list [0,1].")
for i in range(2):
  print(i)

print("Iterate over an actual list.")
for i in [0,1]:
  print(i)

print("While works")
i = 0
while i < 2:
  print(i)
  i += 1

In [ ]:
print("Python supports standard key words like continue and break")
while True:
  print("Entered while")
  break

## Numpy and lists
Python has lists built into the language.
However, we will use a library called numpy for this.
Numpy gives you lots of support functions that are useful when doing Machine Learning.

Here, you will also see an import statement. This statement makes the entire numpy package available and we can access those symbols using the abbreviated 'np' syntax.

In [ ]:
import numpy as np  # Make numpy available using np.

# Create a numpy array, and append an element
a = np.array(["Hello", "World"])
a = np.append(a, "!")
print("Current array: {}".format(a))
print("Printing each element")
for i in a:
  print(i)

print("\nPrinting each element and their index")
for i,e in enumerate(a):
  print("Index: {}, was: {}".format(i, e))

In [ ]:
print("\nShowing some basic math on arrays")
b = np.array([0,1,4,3,2])
print("Max: {}".format(np.max(b)))
print("Average: {}".format(np.average(b)))
print("Max index: {}".format(np.argmax(b)))

In [ ]:
print("\nYou can print the type of anything")
print("Type of b: {}, type of b[0]: {}".format(type(b), type(b[0])))

In [ ]:
print("\nUse numpy to create a [3,3] dimension array with random number")
c = np.random.rand(3, 3)
print(c)

In [ ]:
print("\nYou can print the dimensions of arrays")
print("Shape of a: {}".format(a.shape))
print("Shape of b: {}".format(b.shape))
print("Shape of c: {}".format(c.shape))
print("...Observe, Python uses both [0,1,2] and (0,1,2) to specify lists")

## Colab Specifics

Colab is a virtual machine you can access directly. To run commands at the VM's terminal, prefix the line with an exclamation point (!).

In [ ]:
print("\nDoing $ls on filesystem")
!ls -l
!pwd

In [ ]:
print("Install numpy")  # Just for test, numpy is actually preinstalled in all Colab instances
!pip install numpy

**Exercise**

Create a code cell underneath this text cell and add code to:


*   List the path of the current directory (pwd)
* Go to / (cd) and list the content (ls -l)

In [ ]:
!pwd
!cd /
!ls -l
print("Hello")

All usage of Colab in this course is completely free or charge. Even GPU usage is provided free of charge for some hours of usage every day.

**Using GPUs**
* Many of the exercises in the course executes more quickly by using GPU runtime: Runtime | Change runtime type | Hardware accelerator | GPU

**Some final words on Colab**
*   You execute each cell in order, you can edit & re-execute cells if you want
*   Sometimes, this could have unintended consequences. For example, if you add a dimension to an array and execute the cell multiple times, then the cells after may not work. If you encounter problem reset your environment:
  *   Runtime -> Restart runtime... Resets your Python shell
  *   Runtime -> Restart all runtimes... Will reset the Colab image, and get you back to a 100% clean environment
* You can also clear the output in the Colab by doing: Edit -> Clear all outputs
* Colabs in this course are loaded from GitHub. Save to your Google Drive if you want a copy with your code/output: File -> Save a copy in Drive...

**Learn More**
*   Check out [this](https://www.youtube.com/watch?v=inN8seMm7UI&list=PLQY2H8rRoyvwLbzbnKJ59NkZvQAW9wLbx&index=3) episode of #CodingTensorFlow, and don't forget to subscribe to the YouTube channel ;)